<!-- Footer -->
<footer class="page-footer font-small bg-teal  content text-white  pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center pad text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h3 class="text-uppercase">VISAR</h3>
        <hr><p>We develop AR filters such as Snapchat filters, Facebook filters, Instagram filters, 3D model filters, AR based Games, ChatBots, AR Stickers, AR Ad Campaigns and Event Promotion filters.</p>
        <br>
        <a class="text-white" href="https://www.facebook.com/visarpk/" target="_blank"><img class="size" [src]="fb"></a> &nbsp;&nbsp;
        <a class="text-white" href="https://www.instagram.com/visarpk/" target="_blank"><img class="size" [src]="insta"></a> &nbsp;&nbsp;
        <a class="text-white" href="https://www.youtube.com/channel/UC8PyP9spv3VNyQycC4cVHDg" target="_blank"><img class="size" [src]="youtube"></a>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h3 class="text-uppercase">PRODUCTS</h3>
        <hr>
        <br>
        <ul class="list-unstyled">
          <li>
            <a class="text-white" routerLink="/chat-bots" routerLinkActive="active">ChatBot</a>
          </li>
            <li>
            <a class="text-white" routerLink="/ar-filters" routerLinkActive="active">AR Filter/Lense</a>
          </li>
          <!--
          <li>
            <a class="text-white" routerLink="/ar-games" routerLinkActive="disable" >AR Apps</a>
          </li> -->
          <li>
            <a class="text-white" routerLink="/page-management" routerLinkActive="active">Social Media Page Management</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->



      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h3 class="text-uppercase">CONTACT</h3>
        <hr>
        <br>
        <ul class="list-unstyled">
          <li>
            <p><fa-icon [icon]="fahome"></fa-icon>&nbsp;Shaheen Center i-9/1 Islamabad</p>
          </li>
          <li>
            <p><fa-icon [icon]="faenvelope"></fa-icon>&nbsp;info@visar.pk</p>
          </li>
          <li>
            <p ><fa-icon [icon]="faphone"></fa-icon>&nbsp;&nbsp;0336-9891849</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  <br><br>
  <!-- Copyright -->
  <div class="footer-copyright bg-black text-white text-center py-3">© 2021 
    <a href="#" routerLink="" routerLinkActive="active"> VISAR</a>
    . All Right Reserved
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
