<br>
          <br>
          <br><div class="container">
  <!--WHAT WE DO-->
<div class="card set">

    <div class="card-body">




<!-- //slider -->

      <img class="d-block w-100" [src]="q1" alt="Third slide">

          <br>
          <br>
          <br>
          <div >
            <h2 class="text-center"><b>EVENT PROMOTION FILTER</b></h2>
              <p class="text-center marg-text">AR Event Promotions are easy way to promote your event.We will develop Custom Filters for your Event.Custom Filters would have creative and interactive design according to the event specifications </p> </div>

            </div>
  </div>

  </div>
