<nav class="navbar navbar-expand-lg navbar-dark bg-company-purple"  >
  <a class="navbar-brand" routerLink="" routerLinkActive="active">
    <img class="img-set mr-3" src="https://visarpk.com/videos/logo2.png">
    <strong style="font-size: 130%;">VISAR</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul  class="navbar-nav ml-auto margin-right font">
      <li class="nav-item active">
        <a class="nav-link" routerLink="" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href=""  id="navbarDropdownMenuLink"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/ar-filters" >AR filters</a>
          <a class="dropdown-item" routerLink="/ar-games" >AR Games</a>
          <a class="dropdown-item" routerLink="/ar-ad-campaigns" >AR Ad Campaigns</a>
          <a class="dropdown-item" routerLink="/ar-event-promotions" >AR Event promotions</a>
          <a class="dropdown-item" routerLink="/page-management" >Page management</a>
          <a class="dropdown-item" routerLink="/chat-bots">Chat Bots</a>

        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Projects" routerLinkActive="active">Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Aboutus" routerLinkActive="active">About us</a>
      </li>
    </ul>
  </div>
</nav>

