<br>
    <br>
    <br>
<div class="container">
  <!--WHAT WE DO-->
  <div class="card set">
    <div class="card-body bg-black">

            <img
              class="d-block w-100"
              [src]="q1"
              alt="First slide"
            />

    <br>
    <br>
    <br>
    <div>
      <h2 class="text-center"><b>STATIC FILTER</b></h2>
      <p class="text-center marg-text">
        Static Filters would Include Effects and interactive designs made according to the Client need. Static Filters can also be used to promote an up coming event.It would consist of a custom design for the Client.
      </p>
    </div>
    <br />
    <hr />
    <br />
    <div>
      <h2 class="text-center"><b>FACE DETECTION FILTER</b></h2>
      <p class="text-center marg-text">
        Face Detection Filters would include face triggers which would detect the face movements or gestures and based on these triggers sometihng would occur in the filter.
      </p>
    </div>
    <br />
    <hr />
    <br />
    <div>
      <h2 class="text-center"><b>3D OBJECT BASED FILTER</b></h2>
      <p class="text-center marg-text">
        3D object Filters would include 3d Models or 3d objects which would get dsiplay on the screen.User would be able to interract with them such as tapping them or making them big or small. They would move around the mobile screen.These Type of Filters can be made custoom for Brand Promotions.
      </p>
    </div>
  </div>
</div>
</div>
