 <div class="container">
    <!--WHAT WE DO-->
  <div class="card set">
    <div class="card-header text-center bg-main">
      <h1><b>SERVICES</b></h1>
    </div>
      <div class="card-body">
        <blockquote class="blockquote text-center mb-0">
          <h2><b> AR FILTERS</b></h2>
          <br>
        </blockquote>

            <div class="image-style" style="float:left;">
                <img class="img-responsive" src="./assets/images/.png"  alt="Filters" height="100%" width="100%">
            </div>
            <div class="content card" style="float: right;"  onclick="location.href='/ar-filters';">
                <h5 style="text-align: center;">Facebook Snapchat and Instagram Filters</h5>
                <p> AR filters are basically augmented filters which augment some objects or effects on your face.Our development Team primilarly focuses on Facebook, Snapchat and Instagram Platform. We develop custom filters as well as specific filters based on client's need</p>
            </div>

    </div>
    <hr>

    <div class="card-body">
      <blockquote class="blockquote text-center mb-0" >
        <h2><b> AR GAMES</b></h2>
        <br>
      </blockquote>
          <div class="image-style" style="float: right;">
              <img class="img-responsive" src="/assets/images/gamefilter.png"  alt="Filters" height="100%" width="100%">
          </div>
          <div class="content card" style="float: left;"  onclick="location.href='/ar-games';">
              <h5 style="text-align: center;">Facebook, Snapchat and Instagram AR Games</h5>
              <p> AR Games are integration of game visuals and audio content with the user's chosen platform in real time. We would develop interactive games in which user would do face gestures to play the game.</p>
          </div>

    </div>
  <hr>

  <div class="card-body">
    <blockquote class="blockquote text-center mb-0">
      <h2><b> AR AD CAMPAIGNS</b></h2>
      <br>
    </blockquote>
        <div class="image-style" style="float: left;">
            <img class="img-responsive" src="/assets/images/pf.png"  alt="Filters" height="100%" width="100%">
        </div>
        <div class="content card" style="float: right;"  onclick="location.href='/ar-ad-campaigns';">
            <h5 style="text-align: center;">AR base Social Media Marketing</h5>
            <p> AR  base Social Media Marketing is the new form of Digital Marketing in which information can be displayed widely.There is no limit for space to completely market your product.</p>
        </div>

  </div>
<hr>
<div class="card-body">
  <blockquote class="blockquote text-center mb-0">
    <h2> <b>AR EVENT PROMOTIONS</b></h2>
    <br>
  </blockquote>
      <div class="image-style" style="float: right;">
          <img class="img-responsive" src="/assets/images/ef.png"  alt="Filters" height="100%" width="100%">
      </div>
      <div class="content card" style="float: left;"  onclick="location.href='/ar-event-promotions';">
          <h4 style="text-align: center;">Event Promotion using AR Filters</h4>
          <p> AR Event Promotions are easy way to promote your event.We will develop Custom Filters for your Event.Custom Filters would have creative and interactive design according to the event specifications</p>
      </div>

</div>
<hr>
<div class="card-body">
  <blockquote class="blockquote text-center mb-0">
    <h2><b>PAGE MANAGEMENT</b></h2>
    <br>
  </blockquote>
      <div class="image-style" style="float: left;">
          <img class="img-responsive" src="/assets/images/PM.png"  alt="Filters" height="100%" width="100%">
      </div>
      <div class="content card" style="float: right;"  onclick="location.href='/page-management';">
          <h5 style="text-align: center;">Virtual Assistance for Facebook and Instagram </h5>
          <p> We have team of very professionals who are very proficient in content writting and managing Social media pages.They can assist any account related to daily posting,content writing and blog writting </p>
      </div>

</div>
<hr>
<div class="card-body">
  <blockquote class="blockquote text-center mb-0">
    <h2><b> CHATBOTS</b></h2>
    <br>
  </blockquote>
      <div class="image-style" style="float: right;">
          <img class="img-responsive" src="/assets/images/chatbot main.png"  alt="Filters" height="100%" width="100%">
      </div>
      <div class="content card" style="float: left;"  onclick="location.href='/chat-bots';">
          <h4 style="text-align: center;">Website ChatBot</h4>
          <p> We will create AI base chatbots close to human interaction.They would act as search assitant which would remain online to answer the quiries of customers. </p>
      </div>

</div>
<hr>
</div>

