<br>
<br>
<br>
<div class="container">
  <!--WHAT WE DO-->
<div class="card set">
    <div class="card-body">




<!-- //slider -->

      <img class="d-block w-100" [src]="q1" alt="First slide">
      <br>
      <br>
      <br>
          <div >
            <h2 class="text-center"><b>FACEBOOK PAGE MANAGEMENT</b></h2>
              <p class="text-center marg-text"> We have team of very professionals who are very proficient in content writting and managing Social media pages.They can assist any account related to daily posting,content writing and blog writting </p>
          </div>
          <br>
          <hr>
          <br>
          <div>
            <h2 class="text-center"><b>INSTAGRAM PAGE MANAGEMENT</b></h2>

            <p class="text-center marg-text"> We have team of very professionals who are very proficient in content writting and managing Social media pages.They can assist any account related to daily posting,content writing and blog writting </p>

          </div>
        </div>

           </div>



  </div>
