<br>
<br>
<br>
<div class="container">
  <!--WHAT WE DO-->
<div class="card set">
    <div class="card-body">



    <div>
      <img class="d-block w-100" [src]="q1" alt="Third slide">
    </div>
    <br>
    <br>
    <br>
          <div >
            <h2 class="text-center"><b>MESSANGER CHATBOT</b></h2>
              <p class="text-center marg-text">We will create AI base chatbots close to human interaction.They would act as search assitant which would remain online to answer the quiries of customers.  </p>
          </div>

        </div>
  </div>

  </div>
