<div class="video-background-holder ">
    <div class="video-background-overlay"></div>
    <video id="video" playsinline="playsinline" autoplay="autoplay" [muted]="'muted'" loop="loop" >
          <source src="https://visar.pk/videos/ads.mp4" type="video/mp4">
      </video>

    <div class="video-background-content container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-4">VISAR</h1>
          <p class="lead mb-0">Exists But Don't Exists</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container bg-black">

    
    <div class="text-center bg-main">
      <h1><b>AR FILTERS</b></h1> 
    </div>
    <div class="row">
        <div class="col-md-6" onclick="location.href='/ar-filters';">
          <img class="img-responsive" [src]="q1"  alt="Filters" height="100%" width="100%">
      </div>
      <div class="col-md-6 text-center marg-texts"  onclick="location.href='/ar-filters';">
          <h3 >Facebook, Snapchat and Instagram Filters</h3>
          <p> AR filters are basically augmented filters which augment some objects or effects on your face.Our development Team primilarly focuses on Facebook, Snapchat and Instagram Platform. We develop custom filters as well as specific filters based on client's need</p>
      </div>
    </div>

    <div class="text-center bg-main">
      <h1><b>AR GAMES</b></h1> 
    </div>
    <div class=" row ">
        
      <div class="col-md-6 text-center marg-texts" onclick="location.href='/ar-games';">
        <h3>AR Filter Games</h3>
        <p> AR Games are integration of game visuals and audio content with the user's chosen platform in real time. We would develop interactive games in which user would do face gestures to play the game.</p>
     </div>
     <div class="col-md-6 " onclick="location.href='/ar-games';">
      <img class="img-responsive" [src]="q2"  alt="Filters" height="100%" width="100%">
     </div>
    </div>

    <div class="text-center bg-main">
      <h1><b>AR AD CAMPAIGNS</b></h1> 
    </div>
    <div class=" row ">
      <div class="col-md-6 " onclick="location.href='/ar-ad-campaigns';">
        <img class="img-responsive" [src]="q3"  alt="Filters" height="100%" width="100%">
       </div>
      <div class="col-md-6 text-center marg-texts" onclick="location.href='/ar-ad-campaigns';">
        <h3>Social Media Filter Marketing</h3>
        <p> AR  base Social Media Marketing is the new form of Digital Marketing in which information can be displayed widely.There is no limit for space to completely market your product.</p>
     </div>
     
    </div>

    <div class="text-center bg-main">
      <h1><b>AR EVENT PROMOTIONS</b></h1> 
    </div>
    <div class=" row ">
        
      <div class="col-md-6 text-center marg-texts" onclick="location.href='/ar-event-promotions';">
        <h3>Event Promotion using AR Filters</h3>
        <p> AR Event Promotions are easy way to promote your event.We will develop Custom Filters for your Event.Custom Filters would have creative and interactive design according to the event specifications</p>
     </div>
     <div class="col-md-6 " onclick="location.href='/ar-event-promotions';">
      <img class="img-responsive" [src]="q4"  alt="Filters" height="100%" width="100%">
     </div>
    </div>

    <div class="text-center bg-main">
      <h1><b>PAGE MANAGEMENT</b></h1> 
    </div>
    <div class=" row ">
      <div class="col-md-6 " onclick="location.href='/page-management';">
        <img class="img-responsive" [src]="q5"  alt="Filters" height="100%" width="100%">
       </div>
      <div class="col-md-6 text-center marg-texts" onclick="location.href='/page-management';">
        <h3>Manage Page of Facebook and Instagram</h3>
        <p>We have team of very professionals who are very proficient in content writting and managing Social media pages.They can assist any account related to daily posting,content writing and blog writting. </p>
     </div>
     
    </div>

    <div class="text-center bg-main">
      <h1><b>CHATBOTS</b></h1> 
    </div>
    <div class=" row ">
        
      <div class="col-md-6 text-center marg-texts" onclick="location.href='/chat-bots';">
        <h3>Messanger ChatBot</h3>
        <p> We will create AI base chatbots close to human interaction.They would act as search assitant which would remain online to answer the quiries of customers. </p>
     </div>
     <div class="col-md-6 " onclick="location.href='/chat-bots';">
      <img class="img-responsive" [src]="q6"  alt="Filters" height="100%" width="100%">
     </div>
    </div>



      <!--WHAT WE DO
    <div class="card set">
        <div class="card-header text-center bg-main">
          <h1><b>WHAT WE DO</b></h1>
        </div>
        <div class="card-body">
          <blockquote class="blockquote">
            <p>
              <i>VISAR's</i> Goal is to introduce augmented reality(AR) in every corner of life.
               We primarily develop augmented reality lenses/filters similar to those used in social media platforms such as Instagram, Snapchat and Facebook.
               We offer digital services to organizations as well as to individuals on demand.
               The client can use those filters for marketing their product, the product may be an actual product or service, It may simply be an event they want to promote.
               We can develop specific filters  on demand.</p>
          </blockquote>
        </div>
      </div> -->
      
    
      <div class="text-center bg-main">
        <h1><b>WHY US</b></h1> 
      </div>
        <p class="text-center marg-text">
          We are Pakistan no 1 advertisement agency which Introduce and Offer high-quality AR filters and AR Apps specifically according to the requirements of our client.
         We use special tools to fully satisfy the needs of Customer. The world is moving towards the most evolved form in which everything would be digitalized, we want to serve our community by offering our skills.
         </p>
       
      
      <!--WHy us?
    <div class="card set">
      <div class="card-header text-center bg-main">
        <h1><b>WHY US</b></h1>
      </div>
      <div class="card-body">
        <blockquote class="blockquote">
          <p>
            We develop high-quality filters specifically according to the requirements of our client.
            In our process of developing, We use special tools to fully satisfy the needs of Customer. The world is moving towards the most evolved form in which everything would be digitalized, we want to serve our community by offering our skills.
          </p>
        </blockquote>
      </div>
    </div>
-->
 <!--CLIENT-->
 
 <div class="text-center bg-main">
  <h1><b>CLIENTS</b></h1> 
    </div>
      <div class="text-center mb-0">
        <img class="clent-imgs" [src]="c1">
        <img class="clent-imgs" [src]="c2">
    </div>


<!--   CLIENT
  <div class="card set">
  <div class="card-header text-center bg-main">
    <h2><b>PARTNERS</b></h2>
  </div>
  <div class="card-body">
    <blockquote class="blockquote text-center mb-0">
      <img class="clent-img" [src]="/[src]/assets/images/cafegarage.jpg">
      <img class="clent-img" [src]="/[src]/assets/images/instagram.png">
    </blockquote>
  </div>
</div>



  </div>



  <p class="lead">Snippet by <a href="https://bootstrapious.com/snippets" class="text-white">
                      <u>Bootstrapious</u></a></p>-->
